body {
    font-family: roboto;
}

.post-1 {
    background: #F3D250;
}

.post-2 {
    background: #8D8741;
}

.post-3 {
    background: #659DBD;
}

.post-4 {
    background: #DAAD86;
}

/* Your styles go here */
body, html {
    margin: auto;
    width: 100%;
    background-color: #0b192f;
}

h2 {
    font-weight: lighter;
    margin-bottom: 0;
    font-size: 35px;
    line-height: 45px;
}

p {
    margin-top: 10px;
    font-weight: lighter;
}

main {
    flex-grow: 1;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;

    background-color: #162b4d;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 70px;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;

    background-color: #162b4d;
}

aside {
    min-width: 226px;
    margin-left: 20px;
}

label {
    color: #484848;
    padding-left: 20px;
}

nav {
    display: flex;
    padding-right: 70px;
    cursor: pointer;
}

nav a {
    text-decoration: none;
    color: #fff;
    height: 100%;
}

a {
    padding-right: 10px;
    text-align: center;
}

a:hover {
    background-color:  #b8b8b8;
}

.menu-icon {
    visibility: hidden;
}

.logo {
    font-weight: lighter;
    font-size: 25px;
    color: #fff;
}

.blog {
    color: red;
}

.nav-item {
    padding: 1.6rem;
}

.container {
    display: flex;
    justify-content: space-between;

    margin-left: 30px;
    margin-right: 30px;
}

.post {
    display: flex;
    flex-direction: row;

    width: 100%;
    height: 350px;

    background-color:  #b8b8b8;
    cursor: pointer;
}

.post:nth-child(even) {
    flex-direction: row-reverse;
}

.post:nth-child(even) .post-info {
    flex-direction: row-reverse;
    text-align: right;
}

.post:nth-child(even) .month {
    margin-right: 7px;
}

.post-img {
    width: 50%;
    height: 350px;
    background-color:  #b8b8b8;
}

.post-info:hover {
    opacity: 0.3;
}

.post-img:hover {
    opacity: 0.3;
}

.post-info {
    display: flex;
    width: 50%;
    height: 350px;
}

.post-text {
    padding-left: 45px;
    padding-right: 35px;
    padding-top: 10px;
    line-height: 2;
    color: #484848;
}

.post-date {
    display: flex;
    flex-direction: column;
    text-align: center;

    min-width: 90px;
    margin-top: 20px;
}

.date {
    font-size: 50px;
    font-weight: lighter;
}

.month {
    font-size: 25px;
    font-weight: lighter;
    margin-left: 3px;
}

.news {
    max-width: 300px;
    height: 374px;
    margin-bottom: 20px;
    background-color: #fff;
}

.news-second {
    height: 445px;
}

.news-header {
    padding-left: 20px;
    font-size: 24px;
    line-height: 24px;
}

.news-img {
    width: 100%;
    height: 106px;
}

.news2-img {
    width: 100%;
    height: 155px;
}

.news-text {
    line-height: 1.7;
    margin-left: 20px;
    margin-top: 20px;
    margin-right: 20px;

    font-size: 11px;
}

.news-button {
    margin-top: 14px;
    margin-left: 20px;

    padding-top: 5px;
    padding-bottom: 5px;

    font-size: 12px;
    border-color: black;
    cursor: pointer;
}

.news-button:hover {
    border-top: none;
    border-right: none;
    border-left: none;
}

.archive {
    width: 100%;
    height: 350px;

    overflow: auto;
    background: url("../img/post5.jpg");
}

.archive-header {
    margin-left: 20px;
    margin-top: 180px;
    color: #fff;
}

.archive-text {
    margin-left: 20px;
    margin-right: 20px;
    color: #fff;
}

.copyright {
    margin-left: 20px;
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
}

.design {
    font-size: 12px;
    font-weight: lighter;
    color: #fff;
    width: 120px;
}

@media screen and (max-width: 768px) {
    header {
        flex-direction: column;

        height: 150px;
        margin-left: 5px;
        margin-right: 5px;
    }

    nav {
        visibility: hidden;
    }

    header:nth-child(odd) {
        flex-direction: column-reverse;
    }

    footer {
        flex-direction: column;
        text-align: center;

        height: 100%;
        margin-left: 5px;
        margin-right: 5px;
    }

    .container {
        margin-left: 5px;
        margin-right: 5px;
    }

    .menu-icon {
        visibility: visible;
        color: #fff;
    }

    .logo {
        margin-top: 40px;
        margin-bottom: 30px;
    }

    .post {
        flex-direction: column;
        height: auto;
    }

    .post:nth-child(even) {
        flex-direction: column;
    }

    .post:nth-child(even) .post-info {
        flex-direction: column;
        text-align: left;
    }

    .post-img {
        width: 100%;
        height: auto;
    }

    .post-info {
        display: flex;
        flex-direction: column;
        flex-grow: 1;

        width: 100%;
        height: auto;
    }

    .post-info p {
        margin-bottom: 0;
    }

    .post-date {
        flex-direction: row;
        justify-content: center;
        margin-top: 0;
        margin-bottom: 30px;
    }

    .month {
        padding-top: 20px;
    }

    .archive-header {
        margin-top: 80px;
        font-size: 45px;
    }

    .copyright {
        margin-top: 20px;
    }

    .design {
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 480px) {
    aside {
        width: 100%;
        min-width: 0;
        margin-left: 0;
    }

    .container {
        flex-direction: column;
    }

    .post-date {
        display: flex;
    }

    .archive {
        width: 100%;
        height: 400px;
        overflow: auto;
        background: url("../img/post5.jpg") no-repeat center center;
    }

    .archive-header {
        margin-top: 100px;
    }

    .news {
        max-width: 100%;
        height: 400px;
        margin-top: 20px;
    }

    .news-second {
        max-width: 100%;
        height: 500px;
    }

    .news-img {
        width: 100%;
        height: 200px;
    }

    .news2-img {
        width: 100%;
        height: 300px;
    }

    .copyright {
        margin-top: 20px;
    }

    .design {
        margin-bottom: 20px;
    }
}